---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-spring-dante-lor-github-io-v1alpha1-springbootapplication
  failurePolicy: Fail
  name: mspringbootapplication-v1alpha1.kb.io
  rules:
  - apiGroups:
    - spring.dante-lor.github.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - springbootapplications
  sideEffects: None
