---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: springbootapplications.spring.dante-lor.github.io
spec:
  group: spring.dante-lor.github.io
  names:
    kind: SpringBootApplication
    listKind: SpringBootApplicationList
    plural: springbootapplications
    singular: springbootapplication
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SpringBootApplication is the Schema for the springbootapplications
          API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SpringBootApplicationSpec defines the desired state of SpringBootApplication.
            properties:
              config:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              image:
                type: string
              resourcePreset:
                type: string
              resources:
                description: |-
                  Describes cpu and memory requirements for a spring application to run when under normal load
                  If ResourcePreset is not used, a user must specify CPU and memory usage
                properties:
                  cpu:
                    type: string
                  memory:
                    type: string
                required:
                - cpu
                - memory
                type: object
            required:
            - image
            type: object
          status:
            description: SpringBootApplicationStatus defines the observed state of
              SpringBootApplication.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
